{% extends 'base.html' %}

{% block title %}상품 등록{% endblock %}

{% block content %}
  <h2>상품 등록하기</h2>

  <div class="form-container" style="background-color: #f9f9f9; border: 1px solid #ccc; padding: 20px; width: 500px;">
    <h3>상품 등록</h3>
    <form method="POST">
      {% csrf_token %}
      <label for="id_name">상품명:</label>
      <input type="text" id="id_name" name="title" required style="width:300px; display:block; margin-top: 10px;">

      <label for="id_description">상품 설명:</label>
      <textarea id="id_description" name="content" style="width:300px; display:block; margin-top: 10px;"></textarea>

      <label for="id_price">가격:</label>
      <input type="number" step="0.01" id="id_price" name="price" required style="width:300px; display:block; margin-top: 10px;">

      <br><br>
      <button type="submit" class="btn btn-primary">저장</button>
    </form>
  </div>

  <br>
  <a href="{% url 'home' %}">← 목록으로</a>
{% endblock content %}